@import "../../bower_components/bootstrap/less/bootstrap.less";


//
// Custom Variables
// --------------------------------------------------


// Typography
// -------------------------

@font-family-headings: 'Montserrat', 'Helvetica Neue', Helvetica, Arial, sans-serif;
@font-family-body: 'Roboto', 'Helvetica Neue', Helvetica, Arial, sans-serif;


// Colors
// -------------------------

// Main Colors

@white: #ffffff;
@lt-gray: #f1f1f1;
@dk-gray: #232323;
@accent-red: #f44336;


// Client Colors

@weckey-orange: #ed5623;
@weckey-dk-twilight: #212b33;
@weckey-md-twilight: #27343d;


// Forms
// -------------------------

@input-height-large: (ceil(@font-size-large * @line-height-large) + (@padding-large-vertical * 3) + 2);


// Buttons
// -------------------------

@btn-darken: darken(#2a7873, 3%);



// Effects
// -------------------------

// Box Shadows

@box-shadow-lt: 0 2px 5px rgba(0, 0, 0, 0.10);
@box-shadow-md: 0 2px 8px rgba(0, 0, 0, 0.15);
